---
import PathTriangle from "../components/PathTriangle.astro";
import Form from "../components/Form.astro"
import PreFooter from "../components/PreFooter.astro";
import Map from "../components/Map.astro"
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contactenos">
    <section class="w-full bg-zinc-900">
        <div class="relative flex justify-center items-center">
            <div class="flex flex-col justify-center items-center gap-4 font-bold text-xl absolute z-10">
                <h2 class="text-6xl">
                    CONTACTENOS
                </h2>
                <p class="w-3/4 text-center uppercase font-light text-2xl tracking-widest">
                    ¡Nos encantaría escucharte! Si tienes alguna pregunta, comentario o inquietud, no dudes en ponerte en contacto con nosotros. En Tramicenter, valoramos la retroalimentación de nuestros clientes y estamos aquí para ayudarte en todo lo que podamos.
                </p>
                <PathTriangle/>
            </div>
            <div class="absolute w-full h-full z-20"></div>
            <img src="bg-three.png" alt="Image-Contactenos" class="w-full">
            <div class="absolute w-full h-full bg-blue-950 opacity-50"></div>
        </div>
    </section>
    
    <section class="flex justify-center items-center px-16 py-20 bg-zinc-900">
        <Form/>
    </section>
    
    <section class="bg-zinc-900 flex justify-center">
        <Map/>
    </section>
    <PreFooter title="¡ESCRIBENOS!" text="999 999 999" link="https://wa.me/51960625349" target="_blank"/>
</Layout>
