---

import Service from "../components/Service.astro";
import PreFooter from "../components/PreFooter.astro";
import Layout from '../layouts/Layout.astro';

---

<Layout title="Tramicenter">
	<main>
		<section class="w-full bg-zinc-900">
			<img src="" alt="One Image" class="h-96 bg-lime-500">
			<div class="h-96 text-center flex items-center justify-center px-12 text-2xl">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis et nam aperiam mollitia corrupti. Aut alias illo fugiat repellat? Totam omnis similique excepturi quod a expedita, libero praesentium. Quisquam, et. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla nisi magni eos ratione omnis culpa corporis dolore, quaerat doloremque aut excepturi perspiciatis at in eveniet porro placeat quibusdam sed nihil? Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia neque hic, fuga corporis commodi architecto nihil ex inventore placeat repellat quam voluptatibus quibusdam accusantium, ab blanditiis maxime est dignissimos iusto?
			</div>
		</section>
		
		<section class="bg-zinc-900">
			<div class="flex flex-col justify-center items-center gap-4">
				<h2 class="text-2xl">SERVICIOS INFORMATICOS</h2>
				<hr class="w-48 h-2 bg-white">
			</div>
			<div class="flex flex-wrap items-center justify-center gap-24 p-24">
				<Service />
				<Service />
				<Service />
				<Service />
			</div>
		</section>
		<PreFooter title="TRABAJA CON NOSOTROS!" text="CONTACTANOS"/>
	</main>
</Layout>

<style>

</style>
