---

import Service from "../components/Service.astro";
import PreFooter from "../components/PreFooter.astro";
import Layout from '../layouts/Layout.astro';

---

<Layout title="Tramicenter">
	<main>
		<section class="w-full bg-zinc-900">
			<div class="relative flex justify-center">
				<img src="bg-one.png" alt="Inicio_Image" class="w-full">
				<h2 class="absolute text-6xl text-black pt-20 w-2/3 text-center tracking-wider">
					¡Descubre la Facilidad de los Trámites con Tramicenter!
				</h2>
			</div>
			<div class="h-56 text-center flex items-center justify-center px-48 text-3xl">
				Simplifica tu vida y elimina la complejidad de los trámites con Tramicenter. Deja que nosotros nos encarguemos, permitiéndote disfrutar de un proceso sin complicaciones. ¡Confía en nosotros para hacer que tus trámites sean más fáciles que nunca!
			</div>
		</section>
		
		<section class="bg-zinc-900">
			<div class="flex flex-col justify-center items-center gap-4">
				<h2 class="text-2xl">SERVICIOS INFORMATICOS</h2>
				<hr class="w-48 h-2 bg-white">
			</div>
			<div class="flex flex-wrap items-center justify-center">
				<div class="flex w-full justify-evenly pb-8 pt-14">
				<Service title="Facturación Electrónica" link="service4.png"/>
				<Service title="Desarrollo Web" link="service3.png"/>
				</div>
				<div class="flex w-full justify-evenly pt-8 pb-14">
				<Service title="Venta de Dominios" link="service1.png"/>
				<Service title="Venta de Hostings" link="service2.png"/>
				</div>
			</div>
		</section>
		<PreFooter title="TRABAJA CON NOSOTROS!" text="CONTACTANOS" link="/Contactenos"/>
	</main>
</Layout>

<style>

</style>
