---
import Facebook from "./Facebook.astro";
import WhatsApp from "./WhatsApp.astro";
import Instagram from "./Instagram.astro";
import Twitter from "./Twitter.astro"
---

<div class="w-full relative">
    <span class="bg-zinc-900 w-full h-96 absolute -top-1"></span>
    <div class="bg-zinc-400 w-full h-96 flex flex-col justify-end items-center gap-4">
        <div class="flex flex-col justify-around items-center h-24">
            <p class="">SIGUENOS EN NUESTRAS REDES</p>
            <div class="flex justify-between w-full">
                <a href="https://www.facebook.com/tramicenter.tec/" target="_blank"><Facebook/></a>
                <a href="https://wa.me/51960625349" target="_blank"><WhatsApp/></a>
                <a href="" target="_blank"><Instagram/></a>
                <a href="" target="_blank"><Twitter/></a>
            </div>
        </div>
        <footer class="w-full flex flex-col">
            <div class="flex justify-around items-center h-20">
                <p class="w-52 text-center">Telefono: 960 625 349</p>
                <p class="w-72 text-center">tramicenter.pe@gmail.com</p>
                <p class="w-52 text-center">Dirección: UCV 21 Lote 18 Zona A, Huaycan Lima, Perú                </p>
            </div>
            <div class="flex justify-center items-center h-20">
                <p>Derechos Reservados a Tramicenter</p>
            </div>
        </footer>
    </div>
</div>

<style>
    p{
        color: #000;
    }

    span{
        clip-path: polygon(100% 0, 100% 50%, 50% 10%, 0 50%, 0 0);
    }
</style>