---
import FormSVG from "./FormSVG.astro";
import Input from "./Input.astro"
---

<div class="bg-zinc-400 w-full rounded-3xl flex justify-evenly items-center py-20">
    <form action="" class="border w-1/3 flex flex-col gap-10">
        <Input/>
        <Input/>
        <Input/>
        <Input/>
        <Input/>
    </form>
    <FormSVG/>
</div>