---
interface Props {
    title: string;
    type: string;
}

const { title, type } = Astro.props;

---

<div>
    <label for={type} class="text-2xl text-black">
        {title}
    </label><br>
    <input type="email" id={type} required
        class="bg-zinc-400 border-b-4 w-full"
    >
</div>
