---
interface Props {
    
}
---

<div>
    <label for="name" class="text-3xl text-black">
        Nombre:
    </label><br>
    <input type="text" id="name"
        class="bg-zinc-400 border-b-4 w-full"
    >
</div>