---

import Element from './Element.astro';

---
<nav class="w-full h-44 bg-zinc-900 flex justify-around items-center">
	<Element link='/Inicio' title='Inicio'/>
	<Element link='/Servicios' title='Servicios'/>
	<a href="/Inicio" class="h-full">
		<img class="h-full"
		src="favicon.svg" alt="logo">
	</a>
	<Element link='/Contactenos' title='Contactenos'/>
	<Element link='/Nosotros' title='Nosotros'/>
</nav>
