---

import Element from '../components/Element.astro';

---
<nav class="w-full h-44 bg-zinc-900 flex justify-around items-center">
	<Element title='Inicio'/>
	<Element title='Servicios'/>
	<img class="h-full"
		src="favicon.svg" alt="logo">
	<Element title='Contáctenos'/>
	<Element title='Nosotros'/>
</nav>
