---
interface Props {
    title?: string;
    link: string;
    text: string;
    target?: string;
}

const { title, link, text, target } = Astro.props;

---

<article class="bg-zinc-900 flex flex-col gap-8 items-center justify-center text-xl p-4">
    <h1 class="text-center">
        {title}
    </h1>
    
    <button class="bg-white py-4 px-8 text-black font-semibold">
        <a href={link} target={target}>{text}</a>
    </button>
</article>