<article class="bg-zinc-900 flex flex-col gap-8 items-center justify-center text-xl">
    <h1 class="text-center">
        TRABAJA CON NOSOTROS!
    </h1>
    
    <button class="bg-white py-4 px-8 text-black font-semibold">
        CONTACTANOS
    </button>
</article>