<article class="rounded-sm overflow-hidden shadow-xl shadow-black">
        <img src="" alt="Service-One" class="bg-lime-500 w-96 h-72">
        <div class="flex flex-col items-center justify-center bg-orange-500 w-96 h-32 gap-5">
            <h2>title</h2>
            <button class="bg-zinc-500 px-4 py-2 rounded-2xl">Entra Aquí</button>
        </div>
</article>
    