---
import PathTriangle from "../components/PathTriangle.astro";
import Form from "../components/Form.astro"
import PreFooter from "../components/PreFooter.astro";
import Map from "../components/Map.astro"
---

<section class="w-full bg-zinc-900">
    <div class="relative flex justify-center items-center">
        <div class="flex flex-col justify-center items-center gap-4 font-bold text-xl absolute">
            <h2>SERVICIOS</h2>
            <p class="w-3/4 text-center">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit numquam aliquid soluta rem. Quaerat possimus quos inventore consequatur itaque cumque, et numquam ut rem, ipsam porro adipisci velit quisquam non? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat omnis nostrum veniam debitis, harum perspiciatis quos consectetur, iusto a facere alias aperiam. Sint facere adipisci vel cupiditate natus eveniet perspiciatis.
            </p>
            <PathTriangle/>
        </div>
        <img src="" alt="Image-Services" class="bg-lime-500 w-full h-96">
    </div>
</section>

<section class="flex justify-center items-center px-16 py-20 bg-zinc-900">
    <Form/>
</section>

<section class="bg-zinc-900 flex justify-center">
    <Map/>
</section>
<PreFooter title="LLAMANOS!" text="999 999 999"/>
