---
import Service from "../components/Service.astro";
---

<section class="w-full">
    <img src="" alt="One Image" class="h-96 bg-lime-500">
    <div class="h-96 border text-center flex items-center justify-center px-12 text-3xl">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis et nam aperiam mollitia corrupti. Aut alias illo fugiat repellat? Totam omnis similique excepturi quod a expedita, libero praesentium. Quisquam, et. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla nisi magni eos ratione omnis culpa corporis dolore, quaerat doloremque aut excepturi perspiciatis at in eveniet porro placeat quibusdam sed nihil? Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia neque hic, fuga corporis commodi architecto nihil ex inventore placeat repellat quam voluptatibus quibusdam accusantium, ab blanditiis maxime est dignissimos iusto?
    </div>
</section>

<section>
    <div class="flex flex-col justify-center items-center gap-4">
        <h2 class="text-xl">SERVICIOS INFORMATICOS</h2>
        <hr class="w-48">
    </div>
    <div class="flex flex-wrap items-center justify-center gap-24 p-24">
        <Service />
        <Service />
        <Service />
        <Service />
    </div>
</section>